<link href="/site_media/css/style.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/site_media/css/superfish.css" rel="stylesheet" type="text/css" media="screen"/>
<script type="text/javascript" src="/site_media/js/jquery.js"></script>
<script type="text/javascript" src="/site_media/js/hoverIntent.js"></script>
<script type="text/javascript" src="/site_media/js/superfish.js"></script>

{% block contents %}

<h2> Trying to help! </h2>
<BR/><BR/><BR/>
<div>
<p>
{{helptext}}
</p><p>More information on Pantoto's design is available <a href="http://docs.janastu.org/trac/wiki/DjangoDesign" target="_blank">here.</a></p>

</div>


{% endblock %}
